In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("customer_churn_data.csv")

In [11]:
df.head(2)

,CustomerID,Age,Gender,Tenure,MonthlyCharges,ContractType,InternetService,TotalCharges,TechSupport,Churn
0,1,49,Male,4,88.35,Month-to-Month,Fiber Optic,353.4,Yes,Yes
1,2,43,Male,0,36.67,Month-to-Month,Fiber Optic,0.0,Yes,Yes

In [12]:
df.tail(3)

,CustomerID,Age,Gender,Tenure,MonthlyCharges,ContractType,InternetService,TotalCharges,TechSupport,Churn
997,998,51,Female,15,111.72,Month-to-Month,Fiber Optic,1675.80,Yes,Yes
998,999,39,Male,68,65.67,One-Year,NaN,4465.56,No,Yes
999,1000,50,Male,1,56.67,Month-to-Month,NaN,56.67,No,Yes

In [13]:
df.info

<bound method DataFrame.info of      CustomerID  Age  Gender  Tenure  MonthlyCharges    ContractType  \
0             1   49    Male       4           88.35  Month-to-Month
1             2   43    Male       0           36.67  Month-to-Month
2             3   51  Female       2           63.79  Month-to-Month
3             4   60  Female       8          102.34        One-Year
4             5   42    Male      32           69.01  Month-to-Month
..          ...  ...     ...     ...             ...             ...
995         996   42    Male      41           37.14  Month-to-Month
996         997   62    Male       9           80.93  Month-to-Month
997         998   51  Female      15          111.72  Month-to-Month
998         999   39    Male      68           65.67        One-Year
999        1000   50    Male       1           56.67  Month-to-Month

    InternetService  TotalCharges TechSupport Churn
0       Fiber Optic        353.40         Yes   Yes
1       Fiber Optic          0.00         Yes   Yes
2       Fiber Optic        127.58          No   Yes
3               DSL        818.72         Yes   Yes
4               NaN       2208.32          No   Yes
..              ...           ...         ...   ...
995     Fiber Optic       1522.74         Yes   Yes
996             NaN        728.37          No   Yes
997     Fiber Optic       1675.80         Yes   Yes
998             NaN       4465.56          No   Yes
999             NaN         56.67          No   Yes

[1000 rows x 10 columns]>

In [ ]:
df.isna().sum()

CustomerID         0
Age                0
Gender             0
Tenure             0
MonthlyCharges     0
ContractType       0
InternetService    0
TotalCharges       0
TechSupport        0
Churn              0
dtype: int64

In [22]:
df["InternetService"] = df["InternetService"].fillna("")